# Common ignorable extensions
*~
.metadata
*.tmp
*.bak
*.swp
*.log

# OS-specific and IDE-project-specific metadata
.DS_Store
.loadpath
.recommenders
.project
.cproject
.settings
.vscode
.idea
*.iml
*~.nib
*.pydevproject
local.properties

# VIM swap.
# Copied from https://github.com/github/gitignore/blob/master/Global/Vim.gitignore
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Node.js
node_modules
/node_modules

# GitHub Actions
.github/**/package-lock.json
.github/runtime
